name: Build BLIS

on:
  push:
    branches:
      - blis

jobs:
  windows:
    runs-on: "windows-2022"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: flame/blis
          path: blis
      - name: Install make in MSYS2 environment
        uses: msys2/setup-msys2@v2
        id: msys2
        with:
          msystem: msys
          install: make
      - name: Show path
        shell: cmd
        run: |
          echo %PATH%
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "18.1.8"
          arch: x64
      - name: Show path
        shell: cmd
        run: |
          echo %PATH%
      - name: Build
        shell: cmd
        env:
          MSYS2_LOCATION: ${{ steps.msys2.outputs.msys2-location }}
        run: |
          echo %PATH%
          set "CC=clang"
          set "CXX=clang++"
          set "AR=llvm-ar"
          set "AS=llvm-as"
          set "RANLIB=echo"
          set "PATH=%MSYS2_LOCATION%\usr\bin;%PATH%"
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" amd64
          cd blis
          bash -c "./configure --prefix=/c/blis/ --disable-static --enable-shared auto"
          bash -c "make -j2"
          bash -c "make install"
