name: Build BLIS

on:
  push:
    branches:
      - blis

jobs:
  # windows:
  #   runs-on: "windows-2022"
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4
  #       with:
  #         repository: flame/blis
  #         path: blis_repo
  #     - name: Install make in MSYS2 environment
  #       uses: msys2/setup-msys2@v2
  #       id: msys2
  #       with:
  #         msystem: msys2
  #         install: make
  #     - name: Build
  #       shell: cmd
  #       env:
  #         MSYS2_LOCATION: ${{ steps.msys2.outputs.msys2-location }}
  #       run: |
  #         set "CC=clang"
  #         set "CXX=clang++"
  #         set "AR=llvm-ar"
  #         set "AS=llvm-as"
  #         set "RANLIB=echo"
  #         set "LIBPTHREAD="
  #         set "CFLAGS=-Wno-macro-redefined"
  #         set "PATH=%MSYS2_LOCATION%\usr\bin;c:\blis\lib;%PATH%"
  #         call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" amd64
  #         bash -c "cd blis_repo && ./configure --prefix=/c/blis/ --disable-static --enable-shared --enable-arg-max-hack auto"
  #         echo "configure done"
  #         bash -c "cd blis_repo && make -j2 V=1"
  #         echo "make done"
  #         bash -c "cd blis_repo && make -d install"

  linux:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: flame/blis
          path: blis_repo
      - name: Build
        shell: bash
        run: |
          cd blis_repo
          ./configure --prefix=/opt/blis/ --disable-static --enable-shared --enable-arg-max-hack auto"
          make -j2 V=1
          make install
