name: Build BLIS

on:
  push:
    branches:
      - blis

jobs:
  windows:
    runs-on: "windows-2022"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: flame/blis
          path: blis_repo
      # - name: Install make in MSYS2 environment
      #   uses: msys2/setup-msys2@v2
      #   id: msys2
      #   with:
      #     msystem: msys
      #     install: make
      # - name: Install LLVM and Clang
      #   uses: KyleMayes/install-llvm-action@v2
      #   with:
      #     version: "18.1.8"
      #     arch: x64
      - name: Install make
        shell: C:\shells\msys2bash.cmd {0}
        run: pacman -S --noconfirm make
      - name: Build
        shell: cmd
        # env:
        #   MSYS2_LOCATION: ${{ steps.msys2.outputs.msys2-location }}
        run: |
          set "CC=clang"
          set "CXX=clang++"
          set "AR=llvm-ar"
          set "AS=llvm-as"
          set "RANLIB=echo"
          set "PATH=c:\msys64\usr\bin;%PATH%"
          echo %PATH%
          bash -c "which make"
          bash -c "which bash"
          bash -c "which clang"
          bash -c "which gfortran"
          bash -c "rm -rf /c/mingw64/bin"
          bash -c "rm -rf /c/Strawberry/c/bin"
          bash -c "which gfortran"
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" amd64
          cd blis_repo
          bash -c "./configure --prefix=/c/blis_install/ --disable-static --enable-shared auto"
          echo "configure done"
          bash -c "make -j2 V=1"
          echo "make done"
          bash -c "make -d install"
